body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #333;
}

#titre {
    background: url(/assets/img/back_lol.jpeg) no-repeat;
    background-size: cover;
    z-index: 1;
    border-bottom: solid 5px goldenrod;
}

.back {
    background-color: rgba(0, 135, 253, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back > img {
    width: 70%;
}

.back > a {
    color: #fff;
    font-weight: bold;
    background-color: orange;
    border-radius: 20px;
    border: 2px orange solid;
    font-size: 1.6em;
    padding: 8px;
    margin-bottom: 2%;
    text-decoration: none;
}

.back > a:hover {
    
    border: 2px solid black;
    background-color: #fff;
    color: #000000;
}

/*================================================================*/

/*=============================POST===============================*/

.support {
    background-color: aliceblue;
    padding-bottom: 5%;
}

H1 {
    color: #000000;
    text-align: center;
}

.supportPostAccueil {
    display: flex;
    justify-content: center;
}

.post {
    background-color: #fff;
    width: 60%;
    box-shadow: 5px 5px 30px black;
}

.lienProfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: 5px;
}

#iconeProfil {
    width: 20%;
}

#iconeProfil > img {
    width: 50%;
    border-radius: 50%;
    background-color: #fff;
    border: solid black;
}

#nameSalon {
    color: #363737;
    text-decoration: none;
}

#nameProfil {
    color: black;
    text-decoration: none;
}

.post > p {
    border-top: #333 solid;
    width: 95%;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
}


