body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login {
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 50px; 
}

.login h2 {
    margin-bottom: 20px;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login label {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button {
    width: 100%;
    background-color: #f0ad4e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.login button:hover {
    background-color: #ec971f;
}

.login p {
    margin-top: 20px;
}

.login p a {
    color: #f0ad4e;
    text-decoration: none;
    font-weight: bold;
}

.login p a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
}
