<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum LoL - Accueil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/Accueil.css">
    <link rel="stylesheet" href="/assets/css/partials_css/header.css">
    <link rel="stylesheet" href="/assets/css/partials_css/footer.css">
    <link rel="icon" type="image/png" href="/assets/img/LoL-Symbol.png">
</head>
<body>
    <%- include("../partials/header") %>
    
    <div id="titre">
        <div class="back">
            <img src="/assets/img/League-of-Legends-Logo.png" >
        </div>
    </div>

    <div id="post_like">
        <div class="comment">
            
        </div>
    </div>
    
    <%- include("../partials/footer") %>
    
    <script src="/assets/js/main.js" async defer></script>
</body>
</html>
