<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forum LoL - Accueil</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/Accueil.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
</head>
<body>
    
    <%- include("../partials/header") %>

    <div id="titre">
        <div class="back">
            <img src="/assets/img/League-of-Legends-Logo.png" alt="League of Legends Logo">
        </div>
    </div>

    <div id="post_like">
        <div class="comment">
        </div>
    </div>

    <%- include("../partials/footer") %>

    <script src="/assets/js/main.js" async defer></script>
</body>
</html>
