<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Forum LoL - Game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/partials_css/footer.css">
        <link rel="stylesheet" href="/assets/css/partials_css/header.css">
        <link rel="stylesheet" href="/assets/css/salon_css/game.css">
        <link rel="icon" type="image/png" href="/assets/img/LoL-Symbol.png">
    </head>
    <body>
        <%- include("../partials/header") %>

        <div class="support">
            <H1>post</H1>
            <% posts.forEach(post => { %>
                <div class="supportPostAccueil">
                    <div class="post">
                        <div class="lienProfil">
                            <a href="/profil" id="iconeProfil"><img src="/assets/img/icon_perso.png" alt=""></a>
                            <a href="/salon/game" id="nameSalon"><p>salon/game</p></a>
                            <p id="nameProfil">nameProfil</p>
    
                        </div>
                        <h1><%= post.Title %></h1>
                        <p><%= post.Message %></p>
                    </div>
                </div>
            <% }); %>
        </div>

        <%- include("../partials/footer")%>
        
        <script src="" async defer></script>
    </body>
</html>