<footer>
    <a href="https://www.leagueoflegends.com/fr-fr/"><img src="/assets/img/riot-games.png" alt=""></a>
    <div class="fondateur">
        <h4>fondateur</h4>
        <div class="name_fondateur">
            <p>Fabio</p>
            <p>Hugo</p>
            <p>Alexandre</p>
        </div>
        
        
    </div>
</footer>