<footer>
    <div class="footer-content">
        <nav class="nav">
            <a href="/terms">Conditions de vente</a>
            <a href="/privacy">Politique de confidentialité</a>
            <a href="/affiliate">Programme d'affiliation</a>
            <a href="/contact">Contactez-nous</a>
            <p class="fondateurs">Fondateurs :</p>
            <p class="fondateurs">Alexandre - Hugo - Fabio</p>
        </nav>
    </div>
</footer>
