<header>
    <a href="/accueil" id="logo_lol"><img src="/assets/img/LoL-Symbol.png" alt="Logo"></a>
    <nav>
        <ul>
            <a href="/salon/game">GAME</a>
            <a href="/salon/update">UPDATE</a>
            <a href="/salon/esport">ESPORT</a>
        </ul>
        
    </nav>
    <input type="text" placeholder="Search....">
    <div class="perso_page">
        <a href="/profil" id="profil"><img src="/assets/img/icon_perso.png" alt=""></a>
        <a href="/message" id="message_logo"><img src="../assets/img/message_logo.png" alt=""></a>
    </div>
</header>