<header>
    <a href="/accueil" id="logo_lol"><img src="/assets/img/LoL-Symbol.png" alt="Logo"></a>
    <nav>
        <ul>
            <li><a href="/game">GAME</a></li>
            <li><a href="/update">UPDATE</a></li>
            <li><a href="/esport">ESPORT</a></li>
        </ul>
        
    </nav>
    <input type="text" placeholder="Search....">
    <div class="perso_page">
        <a href="/profil" id="profil"><img src="/assets/img/icon_perso.png" alt=""></a>
        <a href="/message" id="message_logo"><img src="../assets/img/message_logo.png" alt=""></a>
    </div>
</header>