<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/header.css">
        <link rel="stylesheet" href="/assets/css/footer.css">
        <link rel="stylesheet" href="/assets/css/Profil.css">
    </head>
    <body>
        <header></header>

        <div id="Profil">
            <div id="segment_gauche">
                <img src="/assets/img/icon_perso.png" alt="">
                <div id="listeFriend">
                    <p>{{.Friends}}</p>
                </div>
                <div id="listeAbonnement">
                    
                </div>
            </div>
        </div>
        
        <footer></footer>
        <script src="/assets/js/main.js" async defer></script>
    </body>
</html>